body {
  background-color: blue !important;
  padding-top: 100px !important;
  background-color: orange;
  background-color: green;
  background-color: pink;
  background-color: red;
  background-color: red;
  background-color: orange;
  background-color: purple;
}
